

<div>
  {{#each resources}}
  <p>Hety I am {{name}}, my position is {{type}} and I charge $ {{rate_per_hour}} per hour.</p>
  <a class="button" href="/{{resource_id}}">{{name}}</a>
  {{/each}}

</div>
